:root {
    --background-col: #08A6AA;
    --text-col: gray;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 365px;
}

.container {
    height: 65px;
    width: 100%;
    position: relative;
}

.input-container {
    width: 100%;
    height: 65px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.search-btn {
    height: 65px;
    width: 65px;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--background-col);
    border: none;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(0);
}

.search-btn.go-right {
    transform: translateX(65px)
}

.search-btn:focus {
    outline: none;
}

.search-btn img {
    width: 80%;
    height: 80%;
}

#search-input {
    height: 65px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    width: 100%;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateX(100%);
    padding: 10px;
    font-size: 2em;
    color: var(--text-col);
    caret-color: var(--background-col);
}

#search-input:focus {
    outline: none;
}

#search-input.go-left {
    transform: translateX(0%)
}