@import "colors.scss";
@import "mixins.scss";

body {
    background-color: $backgroundCol;
    main {
        margin: 0 auto;
        background-color: #1A1A1A;
        width: 270px;
        min-width: 270px;
        height: 570px;
        border-radius: 37px;
        padding-top: 1px;
        margin-top: -1px;
    }
    header {
        width: 90%;
        height: 40%;
        margin: 5% 5%;
        border-bottom: 2px solid $secondaryCol;
        div {
            width: 100%;
            height: 65%;
            padding-bottom: 5%;
            position: relative;
            span {
                position: absolute;
                top: 90%;
                right: 0%;
                font-size: 20px;
                color: $secondaryCol;
            }
        }
        output {
            width: 100%;
            display: block;
            height: 20%;
            margin-top: 2%;
            padding-bottom: 8%;
            position: relative;
            span {
                color: $regularCol;
                position: absolute;
                font-size: 50px;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                right: 0;
            }
        }
    }
    div#controls {
        width: 90%;
        height: 54%;
        margin: 0 5%;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        div {
            &.ui-button {
                width: 23%;
                height: 18%;
                font-weight: normal;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $regularCol;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                cursor: pointer;
                @include calchover($calcBackCol, 20)
            }
            &.zero-btn {
                width: 40%;
                padding-left: 10%;
                justify-content: flex-start;
            }
            &.action-btn {
                color: $primaryCol;
            }
            &.equal-btn {
                background-color: $primaryCol;
                border-radius: 24px;
                @include calchover($primaryCol, 10, 0.95);
            }
        }
    }
}