@keyframes sun {
    0% {top: 75px; left: -60px};
    40% {top: 27px; left: 80px};
    50% {top: 20px; left: 120px};
    60% {top: 27px; left: 160px};
    80% {top: 45px; left: 220px};
    100% {top: 75px; left: 300px}
}