@import 'colors';
@import 'animations';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background;
    main {
        background: $skyDaylightStart;
        min-width: 300px;
        min-height: 300px;
        border-radius: 85px;
        position: relative;
        overflow: hidden;
        animation: sky 3s ease-in-out infinite forwards;
        .mountain {
            position: absolute;
            transform: rotateZ(45deg);
            width: 300px;
            height: 300px;
            background: darken($mountainDay,10%);
            box-shadow: 0px 0px 0px 0px darken($mountainDay,20%);
            animation: mountain 3s ease-in-out infinite forwards;
        }
        .first {
            top: 175px;
            z-index: 2;
        }
        .second {
            top: 220px;
            left: -37%;
            z-index: 1;
        }
        .third {
            top: 220px;
            right: -30%;
            z-index: 3;
        }
        .sun {
            width: 60px;
            height: 60px;
            position: absolute;
            top: 75px;
            left: -60px;
            background: radial-gradient($sunStart,$sunEnd);
            box-shadow: 0px 0px 0px 0px rgba(255, 255, 190, .75);
            border-radius: 75px;
            animation: sun 3s linear infinite normal forwards;
        }
    }
}